<% layout('layout/boilerplate') %>
    <div class="container Posts">
        <h1>Posts on ShowApp: </h1>
        <br>
        <a href="/posts/create" class="btn btn-outline-secondary">+ Create a Post</a>
        <hr>
        <% for(let i=0; i < posts.length; i++){%>
            <div class="mb-3">
                <div class="list-group <%= viewMode ==='dark' ? " darkLG":"lightLG" %> ">
                    <a href="/posts/<%= posts[length - i]._id %>"
                        class="list-group-item list-group-item <%= viewMode ==='light' ? " list-group-item-light"
                        : "list-group-item-dark" %>">

                        <div class="d-flex w-100 justify-content-between">
                            <p class="card-text">
                                <%= posts[length - i].author.username%>
                            </p>
                            <small class="text-muted">
                                <%= posts[length -i].postDate %>
                            </small>
                        </div>

                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                <%= posts[length - i].title%>
                            </h5>
                        </div>

                        <% if(posts[length - i].image.length> 0){ %>
                            <div id="id-<%=posts[length-i]._id%>" class="carousel slide slide-buttons">
                                <div class="carousel-inner">
                                    <% posts[length - i].image.forEach((img, i)=> {%>
                                        <div class="carousel-item <%= i === 0 ? 'active':'' %>"
                                            data-bs-interval="10000000000">
                                            <img src="<%=img.url%>" class="d-block w-100" alt="">
                                        </div>
                                        <% }) %>
                                </div>
                                <% if(posts[length - i].image.length> 1){ %>
                                    <button class="carousel-control-prev slide-buttons" type="button"
                                        data-bs-target="#id-<%=posts[length-i]._id%>" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next slide-buttons" type="button"
                                        data-bs-target="#id-<%=posts[length-i]._id%>" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                    <% } %>
                            </div>
                            <% } %>

                                <p class="mb-1">
                                    <%= posts[length - i].text %>
                                </p>
                                <br>
                                <section>
                                    <small class="text-muted">Comments: <%=posts[length-i].comments.length%>
                                    </small>
                                </section>
                    </a>
                </div>
            </div>
            <% } %>
    </div>