<% layout('layout/boilerplate') %>
    <h1>Posts on ShowApp: </h1>
    <br>
    <a href="/posts/create" class="btn btn-outline-secondary">+ Create a Post</a>
    <hr>
    <% for(let i=0; i < posts.length; i++){%>

        <div class="mb-3">
            <div class="list-group <%= viewMode ==='dark' ? " darkLG":"lightLG" %> ">
                <a href="/posts/<%= posts[length - i]._id %>"
                    class="list-group-item list-group-item <%= viewMode ==='light' ? " list-group-item-light"
                    : "list-group-item-dark" %>">
                    <p class="card-text">
                        <%= posts[length - i].author%>
                    </p>
                    <div class="d-flex w-100 justify-content-between">

                        <h5 class="mb-1">
                            <%= posts[length - i].title%>
                        </h5>
                        <small class="text-muted">5 days ago</small>
                    </div>
                    <img src="https://i.pinimg.com/originals/84/58/61/84586164248f9862b4117b2c2ab540aa.jpg"
                        class="card-img-top" alt="pic">
                    <p class="mb-1">
                        <%= posts[length - i].text %>
                    </p>
                    <br>
                    <section>
                        <small class="text-muted">Comments: 0</small>
                    </section>
                </a>
            </div>
        </div>
        <% } %>