<% layout('layout/boilerplate') %>
    <h1 class="mb-4">
        User: <%= user.username %>
    </h1>

    <nav>
        <div class="nav nav-tabs mb-3 row justify-content-between" id="nav-tab" role="tablist">
            <button class="nav-link active d-grid gap-2 col-4" id="nav-home-tab" style="color: grey;"
                data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                aria-selected="true">Posts</button>
            <button class="nav-link d-grid gap-2 col-4" id="nav-profile-tab" style="color: grey;" data-bs-toggle="tab"
                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                aria-selected="false">Comments</button>
            <button class="nav-link d-grid gap-2 col-4" id="nav-contact-tab" style="color: grey;" data-bs-toggle="tab"
                data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                aria-selected="false">Profile</button>
        </div>
    </nav>



    <!-- All User Posts -->

    <div class="tab-content container Posts" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <% if(user.posts.length===0){ %>
                <div class="text-center mb-4 text-muted">
                    <small>No Posts Found</small>
                </div>
                <% } %>
                    <% for(let i=0; i < user.posts.length; i++){%>
                        <div class="mb-3">
                            <div class="list-group <%= viewMode ==='dark' ? " darkLG":"lightLG" %> ">
                                <a href="/posts/<%= user.posts[length - i]._id %>"
                                    class="list-group-item list-group-item light <%= viewMode==='light' ? 'list-group-item-light' : 'list-group-item-dark'%>">

                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="card-text">
                                            <%= user.posts[length - i].author.username%>
                                        </p>
                                        <small class="text-muted">
                                            <%= user.posts[length -i].postDate %>
                                        </small>
                                    </div>

                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">
                                            <%= user.posts[length - i].title%>
                                        </h5>
                                    </div>

                                    <% if(user.posts[length - i].image.length> 0){ %>
                                        <div id="id-<%=user.posts[length-i]._id%>" class="carousel slide slide-buttons">
                                            <div class="carousel-inner">
                                                <% user.posts[length - i].image.forEach((img, i)=> {%>
                                                    <div class="carousel-item <%= i === 0 ? 'active':'' %>"
                                                        data-bs-interval="10000000000">
                                                        <img src="<%=img.url%>" class="d-block w-100" alt="">
                                                    </div>
                                                    <% }) %>
                                            </div>
                                            <% if(user.posts[length - i].image.length> 1){ %>
                                                <button class="carousel-control-prev slide-buttons" type="button"
                                                    data-bs-target="#id-<%=user.posts[length-i]._id%>"
                                                    data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next slide-buttons" type="button"
                                                    data-bs-target="#id-<%=user.posts[length-i]._id%>"
                                                    data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                                <% } %>
                                        </div>
                                        <% } %>
                                            <% if(user.posts[length-i].text.length < 200){ %>
                                                <p class="mb-1">
                                                    <%= user.posts[length-i].text %>
                                                </p>
                                                <% } else{ %>
                                                    <p class="mb-1">
                                                        <%= user.posts[length - i].text.substr(0,150)%><span
                                                                style="color: rgb(66,139,202);">. . .[read more]</span>
                                                    </p>
                                                    <% } %>

                                </a>
                            </div>
                        </div>

                        <% } %>

        </div>



        <!-- All User Comments  -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <% if(user.comments.length==0){ %>
                <div class="text-center mb-4 text-muted">
                    <small>No Comments Found</small>
                </div>
                <% } %>
                    <% for(let i=0; i < user.comments.length; i++){ %>
                        <div class="list-group mb-3 <%= viewMode ==='dark' ? " darkLG":"lightLG" %> ">
                            <a href="/posts/<%= user.comments[cLength - i].post %> "
                                class="list-group-item list-group-item light <%= viewMode==='light' ? 'list-group-item-light' : 'list-group-item-dark'%>"
                                aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <p>
                                        <%= user.username %>
                                    </p>
                                    <small>
                                        <%= user.comments[cLength - i].commentDate %>
                                    </small>
                                </div>
                                <p class="mb-3">
                                    <%= user.comments[cLength - i].text %>
                                </p>
                                <small>Likes: <%= user.comments[cLength - i].likes %> </small>
                            </a>
                        </div>
                        <% } %>
        </div>

        <!-- User Profile -->
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="mb-3">
                <p><strong>Username: </strong>
                    <%= user.username %>
                </p>
            </div>
            <div class="mb-3">
                <p><strong>Total Posts: </strong>
                    <%= user.posts.length %>
                </p>
            </div>
            <div class="mb-3">
                <p><strong>Total Comments: </strong>
                    <%= user.comments.length %>
                </p>
            </div>
            <div class="mb-3">
                <p><strong>Account Made: </strong>date</p>
            </div>
            <% if(currentUser && user.username===currentUser.username){ %>
                <div class="mb-3">
                    <p><strong>Account Email: </strong>
                        <%= user.email %>
                    </p>
                </div>
                <div class="mb-3 d-inline-flex">
                    <p class="pt-3"><strong>Current Viewing Mode: </strong>
                        <%= user.viewMode %>
                    </p>
                    <a class="mx-3 btn btn-sm btn-outline-secondary align-self-center" href="/change">Toggle Mode</a>
                </div>
                <% } %>
        </div>
    </div>