<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Post - <%= post.title %>
    </title>

    <link rel="stylesheet" href="/main.css">

</head>

<body class="<%=viewMode%>">
    <div>
        <p>
            User: <a href="##">
                <%= post.author %>
            </a>
        </p>
        <h3>
            <%= post.title%>
        </h3>
        <p>
            <%= post.text %>
        </p>
        <a href="#">Comments: 0 </a>
        <br>
        <% if(post.author==="k6daniel" ){ %>
            <a href="/posts/<%= post._id %>/edit">Edit</a>
            <% } %>
                <hr>
    </div>
    <button><a href="/posts">Back to All Posts</a></button>
</body>

</html>