<% layout('layout/boilerplate') %>

    <div class="mt-3 card <%= viewMode ==='light' ? " text-dark bg-light mb-3" : "text-white bg-dark mb-3" %>">
        <div class="card-body">
            <p class="card-text">
                User: <a href="##">
                    <%= post.author %>
                </a>
            </p>
            <div class="d-flex w-100 justify-content-between">
                <h4 class="card-title">
                    <%= post.title %>
                </h4>
                <small class="text-muted">5 days ago</small>
            </div>
            <% if(post.image){ %>
                <img class="card-img-top" src="<%= post.image %>" alt="pic">
                <% } %>
                    <p class="card-text">
                        <%= post.text %>
                    </p>
                    <a href="/posts" class="btn btn-outline-secondary">Back to All
                        Posts</a>
                    <% if(post.author==="k6daniel" ){ %>
                        <a class="btn btn-outline-secondary" href="/posts/<%= post._id %>/edit">Edit</a>
                        <% } %>
        </div>
    </div>




    <!-- <div>
        <p>
            User: <a href="##">
                <%= post.author %>
            </a>
        </p>
        <h3>
            <%= post.title%>
        </h3>
        <p>
            <%= post.text %>
        </p>
        <a href="#">Comments: 0 </a>
        <br>
        <% if(post.author==="k6daniel" ){ %>
            <a href="/posts/<%= post._id %>/edit">Edit</a>
            <% } %>
                <hr>
    </div>
    <button><a href="/posts">Back to All Posts</a></button> -->