<% layout('layout/boilerplate') %>

    <div class="mt-3 card <%= viewMode ==='light' ? " text-dark bg-light mb-3" : "text-white bg-dark mb-3" %>">
        <div class="card-body">
            <p class="card-text">
                User: <a href="##">
                    <%= post.author %>
                </a>
            </p>
            <div class="d-flex w-100 justify-content-between">
                <h4 class="card-title">
                    <%= post.title %>
                </h4>
                <small class="text-muted">5 days ago</small>
            </div>
            <% if(post.image){ %>
                <img class="card-img-top" src="<%= post.image %>" alt="pic">
                <% } %>
                    <p class="card-text">
                        <%= post.text %>
                    </p>
                    <a href="/posts" class="btn btn-outline-secondary">Back to All
                        Posts</a>
                    <% if(post.author==="k6daniel" ){ %>
                        <a class="btn btn-outline-secondary" href="/posts/<%= post._id %>/edit">Edit</a>
                        <% } %>
        </div>
    </div>

    <form action="/posts/<%=post._id%>/comment" method="POST">
        <label class="form-label" for="text">Make a Comment: </label>
        <textarea class="form-control" name="text" id="text" placeholder="What do you think about this post?" cols="30"
            rows="4"></textarea>
        <button class="btn btn-outline-secondary my-3">Comment</button>
    </form>
    <% for(let comment of post.comments){ %>

        <div class="mb-3 card <%= viewMode ==='light' ? " text-dark bg-light mb-3" : "text-white bg-dark mb-3" %>">
            <div class="card-body">
                <h5>
                    <%= comment.author %>
                </h5>
                <p>
                    <%= comment.text %>
                </p>
                <p class="text-muted">Likes: <%= comment.likes%>
                </p>
            </div>
        </div>
        <% } %>